* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('../images/header.png');
    background-color: gray;
    background-blend-mode: multiply;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

.banner {
    text-align: center;
    color: #fff;
}

.banner-title {
    font-family: Inter;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {

    font-family: Poppins;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-primary {
    padding: 16px 12px;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #FF5959;
    border: 0;
}

.donate-amount {
    max-width: 800px;
    margin: 0 auto;
}

.section-title {
    color: #121212;
    text-align: center;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
}

.section-description {
    color: #707070;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
}

.amount-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.amount {
    border-radius: 5px;
    background: #FAFAFA;
    color: #707070;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    padding: 45px 23px;
}

.amount-two {
    border-radius: 5px;
    border: 2px solid #FF5959;
    background: #FEE;
}

.other-amount {
    color: #B3B3B3;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    margin-bottom: 10px;
}

.btn {
    margin-top: 30px;
    text-align: center;
}


.donate-plan {
    margin-top: 130px;
    margin-bottom: 100px;
    padding: 0 150px;
}

.donate-plan .section-description {
    margin-bottom: 50px;
}

.plan-container {
    display: flex;
    gap: 24px;
}

.plan {
    padding: 50px 22px;
}

.food {
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.10);
}

.shelter {
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.10);
}

.education {

    border-radius: 5px;
    background: #FFF4D6;
}

.plan .title {
    color: #121212;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 16px;
}

.plan .description {
    color: #707070;
    font-family: Poppins;
    font-size: 16px;

}


.depend-on {
    margin-left: 150px;
    margin-right: 200px;
    display: flex;
    gap: 100px;
    align-items: center;
}


.depend-on .section-title {
    text-align: left;
}

.depend-on .section-description {
    text-align: left;
    margin: 20px 0;
}

.depend-on img {
    /* width: 350px; */
    border-radius: 5px;
}

.survive {
    margin-top: 100px;
    margin-bottom: 130px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.update {
    margin-bottom: 130px;
}

.update .section-description {
    margin-bottom: 50px;
}

.update-container {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background: #FFF4D6;
    margin: 0 300px;
}

input {
    width: 250px;
    padding: 17px 20px;
    border: 0;
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    outline: none;
}

::placeholder {
    color: #AA9F9F;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}

.update button {
    padding: 15px 50px;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    background: #FF5959;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}


footer {
    background: #0B0D17;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.humble {
    color: #FF5959;
    font-family: Lobster;
    font-size: 36px;
    font-weight: 400;
}

.do-it {
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    margin-top: 24px;
    font-weight: 400;

}